################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GenesisEdit/obj
/GenesisEdit/bin/Debug
/GenesisEditTests/bin/Debug
/GenesisEditTests/obj
